.quadrado{
    background-color: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 48px;
    font-weight: bold;
    line-height: 80px;
    height: 80px;
    width: 80px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    color: #333;
}

.quadrado:focus{
    outline: none;
    background-color: #ddd;
}